.swiper-button-disabled.swiper-button-disabled {
  opacity: 0;
  background-color: #eee;
  color: #8c8c8c;
  border-color: #8c8c8c;
}

.swiper-button-next,
.swiper-button-prev {
  width: 48px;
  height: 48px;
  opacity: 0;
  transition:
    opacity 0.3s,
    background-color 0.3s,
    transform 0.2s;
}

.swiper-button-prev::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-block: solid;
  border-color: inherit;
  border-width: 0 1.6px 1.6px 0;
  transform: rotate(135deg) translate(-20%, -20%);
}

.swiper-button-next::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-block: solid;
  border-color: inherit;
  border-width: 0 1.6px 1.6px 0;
  transform: rotate(-45deg) translate(-20%, -20%);
}
/* better be somewhere else than here =>*/
.scrollbar-none {
  scrollbar-width: none;
}
/* <= */
